

{%  style  %}
    .collection_description-{{ section.id }}{
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
{% endstyle %}

<div class="collection_description collection_description-{{ section.id }}">
    <div class="container-fluid">
        <div class="section-entry_text">
            {%
                liquid
                assign heading = section.settings.section_heading
                assign description = section.settings.section_description
            %}
            {% if heading != blank %}
                <h2 class="section_heading">{{ heading }}</h2>
            {% endif %}
            {% if description != blank %}
                <div class="section_rte">
                    {{ description }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{%  schema  %}
{
    "name": "Collection Description",
    "settings": [
        {
            "type": "header",
            "content": "Heading"
        },
        {
            "type": "inline_richtext",
            "id": "section_heading",
            "label": "Section Heading"
        },
        {
            "type": "header",
            "content": "Description"
        },
        {
            "type": "richtext",
            "id": "section_description",
            "label": "Section Description"
        },
        {
            "type": "header",
            "content": "Section Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "default": 40,
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "default": 40,
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px"
        }
    ],
    "presets": [
        {
            "name": "Collection Description"
        }
    ]
}
{% endschema %}